<div class="row">
  <div class="col">
    <h3>Datos del Solicitante</h3>

    <div class="mb-3">
      <label for="id_solicitante" class="form-label">ID del solicitante</label>
      <input type="text" id="solicitante" name="solicitante" placeholder="Ejemplo: T-1234" class="form-control" required>
    </div>
    
    <div class="mb-3">
      <label for="nombre_solicitante" class="form-label">Nombre del solicitante</label>
      <input type="text" id="nombre" name="nombre" placeholder="Ejemplo: Juan" class="form-control" required>
    </div>
    
    <div class="mb-3">
      <label for="apellido_solicitante" class="form-label">Apellido del solicitante</label>
      <input type="text" id="apellido" name="apellido" placeholder="Ejemplo: Perez" class="form-control" required>
    </div>
  </div>


  <div class="col">
    <h3>Datos del trabajador asignado</h3>

    <div class="mb-3">
      <label for="id_trabajador" class="form-label">ID del trabajador asignado</label>
      <input type="text" id="trabajador" name="trabajador" placeholder="Ejemplo: T-1234" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="nombre_trabajador" class="form-label">Nombre del trabajador asignado</label>
      <input type="text" id="nombre" name="nombre" placeholder="Ejemplo: Juan" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="apellido_trabajador" class="form-label">Apellido del trabajador asignado</label>
      <input type="text" id="apellido" name="apellido" placeholder="Ejemplo: Perez" class="form-control" required>
    </div>
  </div>
</div>
