<div class="mb-3">
  <label for="destino" class="form-label">Motivo de la reparacion</label>
  <textarea type="" name="destino" id="destino" class="form-control" placeholder="Daños al equipo" rows="5" cols="5" required></textarea>
</div>
