<div class="mb-3">
  <label for="destino" class="form-label">Destino del Bien</label>
  <input type="text" name="destino" id="destino" class="form-control" placeholder="Distrito Capital, Sabana grande, Municipio Libertador, Galpón 34567" required>
</div>

<div class="mb-3">
  <h3>Datos del solicitante</h3>

  <div class="mb-3">
    <label for="id_trabajador" class="form-label">ID del trabajador</label>
    <input type="text" id="trabajador" name="trabajador" placeholder="Ejemplo: T-1234" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="nombre_trabajador" class="form-label">Nombre del trabajador</label>
    <input type="text" id="nombre" name="nombre" placeholder="Ejemplo: Juan" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="apellido_trabajador" class="form-label">Apellido del trabajador</label>
    <input type="text" id="apellido" name="apellido" placeholder="Ejemplo: Perez" class="form-control" required>
  </div>
</div>