<div class="mb-3">
  <label for="codigo_bien" class="form-label">Código del bien</label>
  <select name="codigo_bien" class="form-select form-select-lg w-50">
    <% codigo_bienes.forEach(b => { %>
      <option value="<%- b.codigo %>"><%= b.codigo %> - <%= b.nombre %></option>
    <% }) %>
  </select>
</div>

<div class="mb-3">
  <label for="destino" class="form-label">Motivo de la reparacion</label>
  <textarea type="" name="destino" id="destino" class="form-control" placeholder="Daños al equipo" rows="5" cols="5" required></textarea>
</div>

