<%- include('../partials/header') %>
<%- include('./inc/modal_create') %>
<main class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="h5 text-uppercase my-3">Bienes de la empresa</h1>
        <div>
            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modal_create_bien">Agregar Bien</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Código</th>
                <th>Estado</th>
                <th>Gerencia</th>
                <th>Ubicación</th>
                <th>Fecha de ingreso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="7">
                    <div class="alert alert-info m-0">Aún no hay bienes registrados.</div>
                </td>
            </tr>
        </tbody>
    </table>
</main>
<%- include('../partials/footer') %>